asn1crypto==0.23.0
cycler==0.10.0
decorator==4.1.2
findspark==1.1.0
Flask==0.10.1
functools32==3.2.3.post2
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.10
lxml==3.8.0
MarkupSafe==1.0
neo4j-driver==1.5.2
networkx==2.0
numpy==1.13.3
oscrypto==0.18.0
pbr==1.10.0
Pillow==3.4.2
protobuf==3.4.0
py2neo==3.1.2
py4j==0.10.4
pydub==0.20.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
scikit-learn==0.18.1
scipy==0.18.1
six==1.10.0
sklearn==0.0
stevedore==1.19.1
subprocess32==3.2.7
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
Werkzeug==0.14.1
wikify==1.5
wikitools==1.3
